* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #F66620;
    position: fixed;
    width: 100%;
    padding-bottom: 100px;
    top: 0;
    z-index: 20;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    -moz-box-shadow: 0px 0px 5px 0px #000000;
    -o-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow: 0px 0px 5px 0px #000000;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    /* position: relative;*/
}

.nav-container {
    justify-content: space-between;
    align-items: center;
}

.nav-link,
.icon {
    width: 20%;
}

.icon {
    text-align: right;
}

.nav-link ul,
.info-footer ul {
    list-style: none;
    display: flex;
}

.nav-link a,
.info-footer a {
    display: inline-block;
    padding: .5rem;
    text-decoration: none;
    color: white;
}

.logo {
    display: inline-block;
    text-align: center;
    width: 10%;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

i {
    padding: .2rem;
    background-color: none;
    border: 0;
    color: white;

}

.row {
    display: flex;
    flex-wrap: wrap;

}

.col {
    margin-top: 50px;
    flex-basis: 33.3%;
    padding: .5rem .5rem;

}

.product-card {
    position: relative;
    margin-bottom: .5rem;
}
.over{

}


.first-img, .second-img{
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 100%;

}
.first-img{
    position: absolute;
    display: none;
}
.second-img{
    position: relative;
}

.product-card:hover .first-img {
    display: block;
    z-index: 1;

}

main {
    margin-top: 50px;
}

.favorite {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 35px;
    margin: 10px 0;
    padding: .5rem 1rem;
    background-color: white;
    z-index: 3;
}

.favorite:hover {
    color: red;
}

.tag {
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 2;
}

.discount {
    color: white;
    background-color: red;
    margin-bottom: 2.5rem;
    margin-right: .5rem;
    font-size: 12px;
    padding: .2rem .5rem
}

.sustainability {

    margin-bottom: 2.5rem;
    font-size: 12px;
    padding: .2rem .5rem;
    background-color: green;
    color: white;
}

.cost {
    color: red;
}

.line {
    padding-left: .3rem;
    text-decoration: line-through;
}

footer {
    color: white;
    background-color: #221E1D;
    margin-top: 50px;
    padding: 1rem;
}

.info-footer {
    padding: 1rem;
    ;
}

.info-footer ul li {
    padding-right: .5rem;
}

.info-footer a {
    padding-left: 0;
    font-size: 12px;
}