* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #F66620;
    /*position: fixed;*/
    width: 100%;
    margin-bottom: 20px;
    top: 0;
    z-index: 2;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    -moz-box-shadow: 0px 0px 5px 0px #000000;
    -o-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow: 0px 0px 5px 0px #000000;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link,
.icon {
    width: 20%;
}

.icon {
    text-align: right;
}

.nav-link ul {
    list-style: none;
    display: flex;
}

.nav-link a {
    display: inline-block;
    padding: .5rem;
    text-decoration: none;
    color: white;
}

.logo {
    object-fit: contain;
    width: 10%;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

i {
    padding: .2rem;
    background-color: none;
    border: 0;
    color: white;

}

.main-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}
.model{
    flex-basis: 33.3%;
    padding: .5rem 1rem;

}
.product-card{
    display: flex;
    position: relative;
}
.model img{
    object-fit: cover;
    display: flex;
    height: 500px;
}


.favorite{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 35px;
    margin: 10px 20px;
    padding: .5rem 1rem;
    background-color: white;
}
.favorite:hover{
    color: red;
}